.hero {
  max-width: 480px;
  background-color: #c4c4c4;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero-container {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_mobile/img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero_tablet/img.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero_desktop/Img.jpg);
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero_mobile/img@2x.jpg);
    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero_tablet/img@2x.jpg);
    }
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero_desktop/Img@2x.jpg);
    }
  }
}
.hero__title {
  margin-top: 0;
  color: var(--additional-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  width: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
  @media screen and (min-width: 480px) {
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
