:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --additional-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --primary-bgr-color: #ffffff;
  --bg-additional-color: #2f303a;
  --accent-bg-color: #2196f3;
  --bg-additional2-color: #f5f4fa;
  --hover-button: #188ce8;
  --primary-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
}
